@use 'variables' as vars;
@use 'sass:color';

@mixin text-primary {
    color: map-get(vars.$colors, "primary");
}

@mixin text-dark {
    color: map-get(vars.$colors, "dark");
}

@mixin text-light {
    color: map-get(vars.$colors, "light");
}
@mixin bg-primary {
    background-color: map-get(vars.$colors, "primary");
}
@mixin text-white {
    color: white;
}
@mixin font-body {
    font-family: map-get(vars.$fonts, "body");
}

@mixin font-header {
    font-family: map-get(vars.$fonts, "header");
}

@mixin darken-bg($color) {
    background: color.scale($color, $lightness: -30%);
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin aligned-center {
    align-items: center;
    align-self:center;
}

@mixin justified-center {
    justify-content: center;
}
