@use 'abstracts' as ab;


.button {
    @include ab.bg-primary;
    @include ab.text-white;
    @include ab.flex-column;
    @include ab.justified-center;
    @include ab.aligned-center;
    border: none;
    cursor:pointer;
    max-width: 200px;
    padding: 1rem;
    margin: 20px 0;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-align:center;
    &:hover {
        @include ab.darken-bg(map-get(ab.$colors, "primary"));
    }
}
