@use 'abstracts' as ab;
.navigation {
  @include ab.flex-column;
  justify-content: center;
  background: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  &.with-bg::before {
    content: "";
    //Thanks H4I Website: https://github.com/hack4impact/hack4impact-website/blob/main/components/shared/Nav/styles.module.scss
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(white, 0.3);
    backdrop-filter: blur(8px);
  }
}

.nav-wrapper {
  @include ab.flex-row;
  width: 80%;
  align-self: center;
  align-items:center;
  padding: 20px;
}
.logo {
  @include ab.flex-row;
  & > img {
    height: 100px;
    width: 200px;
    margin: 0;
    object-fit: contain;
    align-self: flex-start;
    }
  @include ab.font-logo;
  @include ab.text-dark;
  align-self: center;
  letter-spacing: 0;
  transition: 0.3s ease;
  z-index: 10;
  @include ab.respond-to("medium") {
    z-index: 11;
  }
  &:hover {
    @include ab.text-primary;
  }
}
.nav-button {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  @include ab.flex-column;
  position: relative;
  z-index: 20;
  @include ab.respond-to("medium") {
    display: none;
  }
  & > div {
    margin: 2px 0;
    width: 30px;
    height: 3px;
    @include ab.bg-primary;
  }
}
.navigation-links {
  position: absolute;
  top: 0;
  @include ab.flex-column;
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
  z-index: 12;
  //Desktop view
  @include ab.respond-to("medium") {
    background: none;
    position: static;
    width: min-content;
    height: min-content;
    @include ab.flex-row;
    align-items: center;
    margin-left: auto;
  }
  & > a {
    letter-spacing: 3.5px;
    margin: 20px 0 20px 20px;
    @include ab.respond-to("medium") {
      margin: 0px 20px;
    }
    text-transform: uppercase;
    @include ab.text-dark;
    transition: 0.3s ease;
    &:hover {
      @include ab.text-primary;
    }
  }
  & > a:nth-child(1) {
    margin-top: 100px;
    @include ab.respond-to("medium") {
      margin-top: 0;
    }
  }
  & > a:nth-child(6) {
    @include ab.text-white;
    width: 200px;
    @include ab.respond-to("medium") {
      width: min-content;
      align-self: center;
    }
  }
}
.mobile-open {
  right: 0;
}
.mobile-hidden {
  right: -100%;
}

.spacer {
width: 100%;
display:block;
height: 40px;
}
