@use 'abstracts' as ab;
.layout {
  @include ab.flex-column;
  min-height: 100vh;
}
.layout-wrapper {
  @include ab.flex-column;
  width: 80%;
  align-self: center;
}

.hero-spacer {
  margin-top: 100px;
}
.page-header {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 5px;
    @include ab.bg-primary;
  }
}
